{% extends "base.html" %}
{% block title %}Cart{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="subpage-head">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row" style="overflow-x:auto;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th></th>
                        </tr>
                        </thead>
                        {% if(noOfItems >= 1) %}
                        {% for row in products %}
                        <tbody>
                        {% if(row[4] >row[5] ) %}
                        <tr style="background-color:red">
                            <td>
                                <img src={{url_for('static', filename='uploads/' +row[3])}} id="image"
                                     style="height: 120px;"/>
                            </td>
                            <td>{{row[1]}}</td>
                            <td>HK$ {{row[2]}}</td>
                            <td>
                                <form action="/updateQtyToCart" method="get">
                                    <input type="hidden" value="{{row[0]}}" readonly name="productId"/>
                                    <input type="number" value="{{row[4]}}" min="1" name="qty"/>
                                    <button type="submit" class="btn btn-xs btn-success">Update QTY</button>

                                </form>
                                {% if(row[4] >row[5] ) %}
                                Stock not enough
                                {%endif%}
                            </td>
                            <td>
                                <a class="btn btn-danger btn-xs" href="/removeFromCart?productId={{row[0]}}">Remove</a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>
                                <img src={{url_for('static', filename='uploads/' +row[3])}} id="image"
                                     style="height: 120px;"/>
                            </td>
                            <td>{{row[1]}}</td>
                            <td>HK$ {{row[2]}}</td>
                            <td>
                                <form action="/updateQtyToCart" method="get">
                                    <input type="hidden" value="{{row[0]}}" readonly name="productId"/>
                                    <input type="number" value="{{row[4]}}" min="1" name="qty"/>
                                    <button type="submit" class="btn btn-xs btn-success">Update QTY</button>
                                </form>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-xs" href="/removeFromCart?productId={{row[0]}}">Remove</a>
                            </td>
                        </tr>
                        {% endif %}
                        </tbody>

                        {% endfor %}
                        {% endif %}


                        {% if(noOfItems < 1) %}
                        <tbody>
                        <tr>
                            <td colspan="5">
                                No products in cart
                            </td>
                        </tr>
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
            {% if(noOfItems >= 1) %}
            <div class="col-12">
                <form action="/checkout" method="POST">
                    <input type="text" name="card" minlength="16" maxlength="16" placeholder="Card No., digital only"
                           class="form-control"/>
                    <input type="text" name="date" minlength="5" maxlength="5" placeholder="mm/yy" class="form-control"/>
                    <button type="submit" href="/checkout" class="btn btn-success">Proceed to checkout</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- // END SUBPAGE HEAD -->

{% endblock %}
